<div class="mt-4 col-12">
    <div class="card">
        <div class="card-header">  Register Here </div>
            <div class="card-body">
                <form #signupForm=ngForm (ngSubmit)="onSubmit()" >

                    <div class="form-group row">
                      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <input type="text" name="name" class="form-control"
                        id="inputName"  placeholder="Name" [(ngModel)]="form.name" required>
                        <!-- <div class="alert alert-danger" [hidden]="">
                            {{error.name}}
                        </div> -->
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" name="email" class="form-control"
                          id="inputEmail"  placeholder="email" [(ngModel)]="form.email" required>
                        </div>
                      </div>
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" name="password" class="form-control"
                         id="inputPassword" placeholder="Password" [(ngModel)]="form.password" required>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputConformPassword" class="col-sm-2 col-form-label">Conform Password</label>
                        <div class="col-sm-10">
                          <input type="password" name="password_confirmation" class="form-control"
                           id="inputConformPassword" placeholder="Conform Password" [(ngModel)]="form.password_confirmation" required>
                        </div>
                      </div>
                    <div class="form-group row">
                      <div class="col-sm-10 offset-2">
                        <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid" >Sign Up</button>
                        <a routerLink="/login" type="submit" class="btn btn-info float-right" >Sign In</a>
                      </div>
                    </div>
                  </form>
            </div>
    </div>
</div>
